<%= form_for [@product, @order] do |f| %>
  <p>
  <%= f.label :first_name %><br>
  <%= f.text_field :firstname %>
  </p>
  <p>
  <%= f.label :last_name %><br>
  <%= f.text_field :lastname %>
  </p>
  <p>
  <%= f.label :street %><br>
  <%= f.text_field :street %>
  </p>
  <p>
  <%= f.label :suburb %><br>
  <%= f.text_field :suburb %>
  </p>
  <p>
  <%= f.label :postcode %><br>
  <%= f.text_field :postcode %>
  </p>
  <p>
  <%= f.label :state %><br>
  <%= f.text_field :state %>
  </p>
  <p>
  <%= f.label :country %><br>
  <%= f.text_field :country %>
  </p>
  <p>
  <%= f.label :quantity %><br>
  <%= f.text_field :quantity %>
  </p>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @product.name %>"
          data-amount="<%= @amount %>"
          data-currency="AUD"
          data-locale="auto"></script>

<% end %>
