<h2>Thanks for your order!</h2>
<p>Your order is currently being processed.</p>

<p>You will receive an order confirmation at <%= @order.user.email %> shortly.</p>

<p>Product: <%= @order.product.name %></p>
<p>Product Price: $<%= number_with_precision((@order.product_price||0)/100.0, :precision => 2) %></p>
<p>Shipping Price: $<%= number_with_precision((@order.shipping_price||0)/100.0, :precision => 2) %></p>
<hr>
<p>Total Price: $<%= number_with_precision((@total_price||0)/100.0, :precision => 2) %></p>

<h3>Shipping Destination</h3>
<address>
  Street: <%= @order.street %><br>
  Suburb: <%= @order.suburb %><br>
  Postcode: <%= @order.postcode %><br>
  State: <%= @order.state %><br>
  Country: <%= @order.country %><br>
</address>
