<%= form_for @product, url: {action: "create"} do |f| %>

  <p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :price %><br>
  <%= f.number_field :price %>
  </p>
  <p>
  <%= f.label :shipping_price %><br>
  <%= f.number_field :shipping_price %>
  </p>
  <p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
  </p>
  <p>
  <%= f.submit "Create" %>
  </p>

<% end %>