<!--
<%= form_with(model: product, local: true) do |f| %>
  <p>
    <% if @product.errors.any? %>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  </p>
  <p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :price %><br>
  $ <%= f.text_field :price, value: number_with_precision((product.price||0)/100.0, precision: 2) %>
  </p>
  <p>
  <%= f.label :shipping_price %><br>
  $ <%= f.text_field :shipping_price, value: number_with_precision((product.shipping_price||0)/100.0, precision: 2) %>
  </p>
  <p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
  </p>
  <p>
  <%= f.label :image %>
  <%= f.file_field :image %>
  </p>
  <p>
  <%= f.label :stock %>
  <%= f.text_field :stock %>
  </p>  
  <p>
  <%= f.submit "Submit" %>
  </p>

<% end %>
-->
<div class="container">
  <%= simple_form_for @product do |f| %>
    <p>
      <% if @product.errors.any? %>
        <% @product.errors.full_messages.each do |message| %>
          <% message %>
        <% end %>
      <% end %>
    </p>
    <%= f.input :name %>
    <%= f.input :price, value: number_with_precision((product.price||0)/100.0, precision: 2)  %>
    <%= f.input :shipping_price, value: number_with_precision((product.price||0)/100.0, precision: 2)  %>
    <%= f.input :description %>
    <%= f.input :image %>
    <%= f.input :stock %>
    <%= f.button :submit %>
  <% end %>
</div>