<h1 class="new-text">Update <%= @product.name %></h1>
<%= render 'form', product: @product %>
<!--<nav class="new-text"><%= link_to 'Back', product_path %>
<% if current_user == @product.user %>
<%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %></nav>-->

<nav class="new-text"><a class="btn btn-light"<%= link_to 'Back', product_path %></a>
<% if current_user == @product.user %>
<a class="btn btn-light"<%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %></a>
<% end %></nav>