<h1>Products</h1>
<p><%= link_to "Sell", new_product_path %></p>
<% @products.each do |product| %>
  <% if product.stock >= 1 %>
    <a href="/products/<%= product.id %>">
      <%= product.name %>
    </a></br>
    <a href="/products/<%= product.id %>/orders/new">
      Buy
    </a></br>
    <% if product.image.attached? %>
      <p><a href="/products/<%= product.id %>"><%= image_tag product.image, width: '300' %></a></p>
    <% else %>
      <p>(No Product Image Available)</p>
    <% end %>
      <%= number_to_currency(product.price / 100.0 ) %>
      made by: <%= product.user.username %>
    <hr>
  <% end %>
<% end %>
