
<div class="container-fluid"><h3>Browse Products </h3></div>
<br>


<!-- <% @products.each do |product| %>
  <% if product.stock >= 1 %>
    <a href="/products/<%= product.id %>">
      <h5><%= product.name %></h5>
    </a></br>
    <p><%= number_to_currency(product.price / 100.0 ) %></p>
    <% if product.image.attached? %>
      <p><a href="/products/<%= product.id %>"><%= image_tag product.image, width: '300' %></a></p>
    <% else %>
      <p>(No Product Image Available)</p>
    <% end %>

      <p><%= product.user.username %></p>
    <hr>
  <% end %>
<% end %> -->

<div class="d-flex flex-row bd-highlight mb-3">

  <div class="card" style="width: 18rem;">
    <div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card text-center" style="width: 18rem;">
        <% @products.each do |product| %>
        <div class="card-img-top">  <% if product.image.attached? %>
            <p><a href="/products/<%= product.id %>"><%= image_tag product.image, width: '250' %></a></p>
          <% else %>
            <p>(No Product Image Available)</p>
          <% end %></div>
        <div class="card-body">
          <h5 class="card-title"><% if product.stock >= 1 %>
            <a href="/products/<%= product.id %>">
            <%= product.name %>
            <% end %>
            </a>
          </h5>
          <p class="card-text"><%= number_to_currency(product.price / 100.0 ) %></p>
          <div class="card-footer bg-transparent border-success text-muted"><p class="card-text">Seller: <%= product.user.username %></p></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>








<!-- <p><%= link_to "Sell", new_product_path %></p> -->
