
  <div class="new-text">
  <h1><%= @product.name %></h1>
  <p>Price: <%= number_to_currency(@product.price / 100.0) %></p>
  <p>Shipping Price: <%= number_to_currency(@product.shipping_price / 100.0) %></p>
  <!--<p><%= @product.stock %></p>-->
  <p>Description: <%= @product.description %></p>
  <% if @product.image.attached? %>
    <p><%= image_tag @product.image, width: '300' %></p>
  <% else %>
    <p>(No Product Image Available)</p>
  <% end %>
  <% if current_user == @product.user %>
  <p class="button-text"><a class="btn btn-light" <%= link_to 'Edit', edit_product_path %></a></p>
  <% end %>
  <% if current_user != @product.user %>
  <p class="button-text"><a class="btn btn-light" <%= link_to 'Buy', checkout_path %></a></p>
  <p class="button-text"><a class="btn btn-light" <%= link_to 'Back', root_path %></a></p>
  <% end %>
  </div>
