<h1><%= @product.name %></h1>
<p><%= number_to_currency(@product.price / 100.0) %></p>
<p><%= number_to_currency(@product.shipping_price / 100.0) %></p>
<p><%= @product.stock %></p>
<p><%= @product.description %></p>
<% if @product.image.attached? %>
  <p><%= image_tag @product.image, width: '300' %></p>
<% else %>
  <p>(No Product Image Available)</p>
<% end %>
<% if current_user == @product.user %>
<%= link_to 'Edit', edit_product_path %>
<%= link_to 'Buy', checkout_path %>
<% end %>