<h1><%= @product.name %></h1>
<p><%= number_to_currency(@product.price / 100.0) %></p>
<p><%= number_to_currency(@product.shipping_price / 100.0) %></p>
<p><%= @product.stock %></p>
<p><%= @product.description %></p>
<% if @product.image.attached? %>
  <p><%= image_tag @product.image, width: '300' %></p>
<% else %>
  <p>(No Product Image Available)</p>
<% end %>
<% if current_user == @product.user %>
<type="button" class="btn btn-primary"><%= link_to 'Edit', edit_product_path %></button>
<% end %>
<% if current_user != @product.user %>
<type="button" class="btn btn-success"><%= link_to 'Buy', checkout_path %></button>
<type="button" class="btn btn-success"><%= link_to 'Back', root_path %></button>
<% end %>
